.centerProgressIndicators {
	height: 30px;
  	width: 100%;
  	text-align: center;
}

.centerYoutubeVideo {
  	width: 100%;
  	text-align: center;
}

.buttonUnder {
  	width: 100%;
  	text-align: center;
}

.done {
  	width: 100%;
  	text-align: center;
}

/* Script page */
#videoScript {
	text-align: center;
}

#videoScript ul {
	list-style-type: none;
}

#videoScript li {
	margin: 4px 0;
}

#videoScript .wordSegment {
	margin: 4px 0;
	padding: 4px;
}

#videoScript .wordSegment:hover {
	background-color: #D4D8D1;
	cursor: pointer;
}

.selectedWordSegment {
	background-color: #F04D41;
	color: #FFFFFF;
}

