.centerProgressIndicators {
	height: 30px;
  	width: 100%;
  	text-align: center;
}

.centerYoutubeVideo {
  	width: 100%;
  	text-align: center;
}

.buttonUnder {
  	width: 100%;
  	text-align: center;
}

.done {
  	width: 100%;
  	text-align: center;
}


