body {
	/*background-image: url("../images/grey.png");*/
	background: #fff;
	background-repeat: repeat;
	border-top: 4px solid #a00;
	font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0;
}
#button-add-new {
	padding: 20px;
}
#search {
	padding: 20px;
	text-align: center;
}
#select {
	text-align: center;
}
#select span {
	margin-right: 50px;
	font-size: 1.8em;
	cursor: pointer
}
#select span:hover {
	text-decoration: underline;
}
#select span:last-child {
	margin-right: 0;
}
#content span.media {
	font-size: 1.3em;
	display: block;
	margin-top: 2px;
	cursor: pointer;
}
#content span.media:hover {
	text-decoration: underline;
}
.info-row {
	margin-bottom: 5px;
}
.modal-image {
	max-width:90%;
}
.modal-footer {
	text-align: left;
	font-size: 1.5em;
	margin-top: 0;
}
.modal-footer span {
	display: inline-block;
	cursor: pointer;
	margin-right: 30px;
}
.modal-footer span:hover {
	text-decoration: underline;
}
.form label {
	margin-right: 10px;
}
.form input {

}

.radio {
	display: inline;
}

.form-script {

}

#button-add-new-back {
	float: left;
}
#button-add-new-next {
	float: right;
}
#button-edit-info-save {
	margin-right: 20px;
}
#button-edit-script-save {
	margin-right: 20px;
}
#button-edit-episode-save {
	margin-right: 20px;
}

.form-script textarea {
	display: block;
	vertical-align: text-top;
	padding: 0 0 180px;
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 12px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #666;
}

#add-season-input {
	width: 100px;
}
#add-episode-input {
	width: 100px;
}

#edit-media-info-seasons {
	width: 150px;
	display: inline-block;
}
#popover-new-season-outer {
	display: inline-block;
}

#edit-media-info-episodes {
	width: 150px;
	display: inline-block;
}
#popover-new-episode-outer {
	display: inline-block;
}

.time-field {
	width: 40px;
	text-align: center;
}

#segment-intervals {
	overflow-y: scroll;
	height: 80px;
}