.script-editor {
	border: 2px solid #ddd;
	outline: none;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 200px;
	max-height: 500px;
	line-height: 45px;
	letter-spacing: 3px;
	overflow-y: scroll;
}

/* Important: Keep the -moz-selection and other selections separate for firefox compatibility */
.script-editor::-moz-selection {
	color: #5cb85c;
}

.script-editor::selection {
	color: #5cb85c;
}

.script-editor span::-moz-selection {
	background-color: transparent;
}

.script-editor span::selection {
	background-color: transparent;
}

.script-editor span {
	cursor: pointer;
	padding: 10px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.script-editor span:hover {
	cursor: pointer;
}

#save-success {
	display: none;
	top: 25px;
	position: fixed;
	width: 800px;
}

[data-type="actor"],
.actor-button {
	background-color: #5c5c5c;
	color: #fff;
}

[data-type="word"],
.word-button {
	background-color: #5cb85c;
	color: #fff;
}

.radio {
	padding-left: 5px;
}

#word-form,
#actor-form {
	display: none;
}

#word-definition textarea {
	max-width: 568px;
}

.script-editor .tooltip::selection,
.script-editor .tooltip-arrow::selection,
.script-editor .tooltip-inner::selection {
	background-color: transparent;
}

#edit-modal .modal-backdrop {
	bottom: 0 !important;
	position: fixed !important;
}

.file-input {
	margin: 20px 5px 20px 5px;
}

.btn-primary {
	margin: 10px;
}