div .word
{
	text-align: center;
	font-size:  35px;
	padding-top: 50px;
}

div .pronunciation
{
	text-align: center;
	font-size: 14px;
	padding-top: 75px;
}

div .definition
{
	text-align: center;
	font-size: 16px;
	padding-top: 125px;
}
