#flashcard .close {
	padding: 15px;
}

#scroller {
	min-height: 250px;
}

#scroller .carousel-control.left,
#scroller .carousel-control.right {
	background-image: none;
	color: #D0D0D0;
	width: 5%;
}

#scroller .carousel-inner .item span {
	display: inline-block;
	max-width: 365px;
}

#scroller .glyphicon {
	font-size: 50px;
	height: 50px;
	margin-top: -28px;
	width: 50px;
}

#scroller .glyphicon-chevron-right {
	margin-right: 0;
}

#scroller .glyphicon-chevron-left {
	margin-left: 0;
}

.loading {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
