#wrapper {
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1200px;
}

#player-container {
	float: left;
	width: 600px;
}

#script {
	border: 1px solid #000;
	float: right;
	line-height: 45px;
	letter-spacing: 3px;
	max-height: 290px;
	overflow-y: auto;
	padding: 15px;
	width: 590px;
}

#script > span {
	background-color: #E4E4E4;
	padding: 10px;
}

#script [data-type=actor] {
	background-color: #4C4C4C;
	color: #fff;
}

.word-hover {
	background-color: #BEBEBE !important;
	cursor: pointer;
}

.word-selected {
	background-color: #DD8D8D !important;
}

.continue {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

.define {
	float: right;
	margin-top: 10px;
}

.currently-speaking {
	background-color: #5CB85C !important;
}

.play-pronunciation {
	background: none;
	border: 0;
	color: #000;
	font-size: 25px !important;
	height: 25px !important;
	margin-left: 10px !important;
	padding: 0 !important;
	top: 5px;
	vertical-align: text-bottom;
	width: 25px !important;
}

.not-available {
	color: grey;
}