.jumbotron
{
	padding: 0; 
	margin-bottom: 0;
}

.video-controls
{
	width: 100%;
	font-size: 27px;
}

.video-controls span, .video-controls div, .video-controls a
{
	display: inline-block;
	color: #999;
}

.mute, .full-screen
{
	float: right;
	color: #999;
}

.play-pause
{
}


.play-pause, .speed
{
	color: #999;
}

.glyphicon:hover
{
	color: #555;
}